@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #3fb57e;
  scroll-behavior: smooth;
}

/* In your global CSS (like index.css, App.css) */

@theme {
  --font-primary: "Bebas Neue", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  /* --color-primary: #b6d8c8; */
  --color-primary: #3fb57e;
  --color-text-primary: white;
  --color-text-secondary: black;

  /* ... */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
